<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
    </head>
    <body>
        <div id="header">
            {% include navigation_bar.html %}
        </div>

        <div id="bio">
            <p> Hello! My name is Hunter Barndt. But you probably know me already if you're reading this. </p>
            <p> Here is my LinkenIn and my Github: </p>
            <p> 
                <a href="https://www.linkedin.com/in/whbarndt/">My LinkedIn </a>
                <a href="https://github.com/whbarndt">My Github </a>
            </p>
        </div>

        <div id="research">
            <h2 id="middle"> Current Learning/Research </h2>
            <ul>
                <li>Building this website! Ha.
                <li>A University of Alaska Fairbanks Computer Science and Physics degree
                <li>Music generation of GAN networks
                <li>Plasma physics simulations
            </ul>
        </div>

        <div id="contact">
            <h2 id="middlebottom"> Contact Information </h2>
            <p> <a href="mailto:whbarndt@protonmail.com">Email</a> </p>
        </div>

        <div id="plasmas">
            <p> Fun Fact for ya! </p>
            <h2 id="bottom"> Hot Plasma vs Cold Plasma </h2>
                <h3 id="hotplasma"> Hot Plasma </h3>
                <p> Hot plasma is a type of plasma where both the ions and the electrons in the medium are of similar and high temperatures. These types of plasmas would be equivalent to the plasmas found in much of the sun. </p>
                <h3 id="coldplasma"> Cold Plasma </h3>
                <p> Cold plamsa is a type of plasma where only the electrons in the medium are of high order temperatures. This brings about very interesting and useful properties out from this plasma. Uses include sterilization and mircrochip manufacturing. </p>
        </div>
    </body>