<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
    </head>
    <body>
        <div id="header">
            {% include navigation_bar.html %}
        </div>
        <div id="intro">
            <h2 id="welcome"> Welcome! </h2>
            <p> Hello! My name is Hunter Barndt and this is my webpage project. The design and functionality are still in progress and probably will be indefinitely. 
                It has a very simple design at the moment but will hopefully look like a professional website sometime soon in the future! Thanks for stopping by!
            </p>
            <h2 id="purpose"> Purpose </h2>
            <p> This website/web project is multi-purpose. Practically, it's a tool for branding myself and promoting my tutoring buisness. Personally, it's both a design/art project and a platform for promoting my passion for learning and education. 
                I enjoy building things from scractch. Many people use templates or helper websites for creating their web pages (because that's the smart thing to do) but I wanted to attempt to create a good looking website only from code I've written. 
                Essentially treating it as my own art piece. 
            </p>    
            <p>Recently I've been really understanding the importance of education. 
                It really is an obvious thing to say; who doesn't think education is important? 
                However, the reasons, how they connect, and how they apply to today I've realized more and more recently.
                More is said on this page <href="education.html">here</a> if you are interested.
            </p>
            <h2 id="future"> Future Website Plans </h2>
            <p> As I said before the design of the web page will change with time. I will hopefully have both my tutoring schedule planner and my blog set up soon but at the moment they aren't setup. </p>
        </div>
    </body>
</html>